{% load static %}
<script src="{% static 'jquery-3.5.0.js' %}"></script>
<div class="site-header">
  <div class="site-header__item site-header__item--burger">
    <div class="site-header-burger">
      
    </div>
  </div>
  <div class="site-header__item site-header__item--logo">
    <a href="{% url 'app:main' %}" data-gtm="Menu — Logo – Clicked" class="site-header-logo site-header-logo--tj">
      <svg height="50" width="32" class="icon icon--site_logo">
        <use xlink:href="#site_logo"></use>
      </svg>
    </a>
  </div>
  <div class="site-header__item site-header__item--spaced site-header__item--centered site-header__item--search">
    <div class="search">
      <div class="search__button">
        <svg height="28" width="28" class="icon icon--v_search">
          <use xlink:href="#v_search"></use>
        </svg>
      </div>
      <div class="search__field">
        <div class="v-field--text v-field v-field--default">
          <div class="v-field__wrapper">
            <form action="{% url 'app:search_page' %}" method="get">
              <input name="q" type="text" placeholder="Search..." class="v-text-input__input">
            </form>
            <!-- <label class="v-text-input v-text-input--default v-text-input--icon-l">
           
              <input type="text" placeholder="П​о​и​с​к​" minlength="0" pattern="." autocomplete="nope" class="v-text-input__input">
            
           
            </label> -->
            
            <!-- <div class="v-field__icon v-field__icon--left">
              <svg height="20" width="20" class="icon icon--v_search">
                <use xlink:href="#v_search"></use>
              </svg>
            </div> -->
            <!---->
          </div>
          <!---->
          <!---->
        </div>
        <!---->
      </div>
    </div>
  </div>
  <div class="site-header__item site-header__item--spaced site-header__item--desktop site-header__item--centered">
    <div data-layout-mobile="icon" data-layout-desktop="label" class="v-split-button v-split-button--default">
      <a data-gtm="Creation button — Write — Click" href="{% url 'app:write_article' %}" class="v-split-button__main">
        <div class="v-split-button__icon">
          <svg height="24" width="24" class="icon icon--v_pencil">
            <use xlink:href="#v_pencil"></use>
          </svg>
        </div>
        <div class="v-split-button__label">
          Новая запись
        </div>
      </a>
      <!---->
    </div>
  </div>
  <div class="site-header__item site-header__item--spaced site-header__item--desktop site-header__item--centered">
    <div data-layout-mobile="icon" data-layout-desktop="label" class="v-split-button v-split-button--default">
      <a data-gtm="Creation button — Write — Click" href="{% url 'app:create_task' %}" class="v-split-button__main">
        <div class="v-split-button__icon">
          <svg height="24" width="24" class="icon icon--v_pencil">
            <use xlink:href="#v_pencil"></use>
          </svg>
        </div>
        <div class="v-split-button__label">
          Новая задача
        </div>
      </a>
      <!---->
    </div>
  </div>
  <div class="site-header__item site-header__item--spaced site-header__item--mobile-ad">
    <div data-id="16" class="propaganda" id="propaganda_1234"></div>
  </div>
  <div class="site-header__item site-header__item--spaced site-header__item--desktop-ad">
    <div data-id="12" class="propaganda propaganda--empty" id="propaganda_1236"></div>
  </div>
  <div class="site-header__spacer"></div>
  <!---->
  <div class="site-header__item">
    
  </div>
  <div class="site-header__item">
    <div data-ignore-outside-click="" class="site-header-user">
      <div class="site-header-user-login">
        <svg height="28" width="28" class="icon icon--v_login">
          <use xlink:href="#v_login"></use>
        </svg> <span class="site-header-user-login__label"><span>
          {% if user.is_authenticated %}
        
        <div class="site-header__item">
          <div data-ignore-outside-click="" class="" id='user_profile'>
            <div class="site-header-user-profile" >
              <div class="site-header-user-profile__toggle">
                {{user}} 
              </div>
            </div>
            <div data-v-06ea7b0a="" data-v-19329d4a="" class="bubble" arrow-alignment="top right" data-dropdown="" style="width: 200px; display:none;">
              <!---->
              <div data-v-06ea7b0a="" class="bubble__container">
                
                <div data-v-19329d4a="" data-v-06ea7b0a=""></div>
                <!---->
                <div data-v-3c29ab00="" data-v-19329d4a="" data-ignore-scroll-lock="" class="list" data-v-06ea7b0a="" style="font-size: 14px;">
                  <div data-v-754c20ca="" data-v-3c29ab00="" class="dummy">
                    <!---->
                    <!---->
                  </div>
                  <a data-v-15682870="" data-v-3c29ab00="" href="https://tjournal.ru/u/427629-nik-efim" class="list__item item item--selected" data-key="427629_1">
                    <div data-v-15682870="" class="item__image"></div>
                    <!----><span data-v-15682870="" class="item__text">
              {{user.first_name}} {{user.last_name}}
             <!----> <!----></span>
                    <!---->
                  </a>
                  
                  
                  <a data-v-15682870="" data-v-3c29ab00="" href="{% url 'app:lk' %}" class="list__item item" data-key="999999903_1" style="color: rgb(129, 129, 129);">
                    <!---->
                    <div data-v-15682870="" class="item__icon">
                      <div data-v-15682870="" style="width: 15px; height: 15px;">
                       
                      </div>
                    </div> <span data-v-15682870="" class="item__text">
              Настройки
             <!----> <!----></span>
                    <!---->
                  </a>
                  <div data-v-15682870="" data-v-3c29ab00="" class="list__item item" data-key="999999904_1" style="color: rgb(233, 42, 64);">
                    <!---->
                    <div data-v-15682870="" class="item__icon">
                      <div data-v-15682870="" style="width: 16px; height: 16px;">
                       
                      </div>
                    </div> 
                    <form id='form_logout'>{% csrf_token %}
                    <button style="background:none;border:none;color: red;"  class="item__text" type='submit'>Выход</button>
                    </form>  
                    <!---->
                  </div>
                  <!---->
                </div>
              </div>
            </div>
          </div>
        </div>
        {% else %}
        <a href="{% url 'app:signin' %}">Войти</a>
        {% endif %}
      </span></span>
      </div>
      <div class="site-header-user__dropdown"></div>
    </div>
  </div>
  <div class="site-header-progressbar">
    <div class="site-header-progressbar__overlay"></div>
    <div class="site-header-progressbar__runner"></div>
  </div>
</div>

<script type="text/javascript">
  $("#user_profile").click(function(){
    if($('.bubble').css('display') == 'none'){
      $('.bubble').css("display",'block')
    }else{
      $('.bubble').css("display",'none')
    }

  })
</script>
<script type="text/javascript">
    
  $(document).mouseup(function (e) {
    var container = $(".bubble");
    if (container.has(e.target).length === 0){
        container.css("display",'none');
    }else{
      $('.bubble').css("display",'block')
    }
    // if($('.bubble').css('display') == 'none'){
    //   $('.bubble').css("display",'block')
    // }else{
    //   $('.bubble').css("display",'none')
    // }
  });  
</script>
<script type="text/javascript">
    var form_logout = $('#form_logout')
    form_logout.on('submit',function(e){
      e.preventDefault();
      console.log('123')
     
      var data = {}
      var csrf_token = $('#form_logout [name = "csrfmiddlewaretoken"]').val();//Обработка пост запроса
      data["csrfmiddlewaretoken"] = csrf_token;
      var url = '{% url "app:signout" %}'
      console.log(url)
      console.log(data)
      $.ajax(
      {
        url:url,
        type:'POST',
        data:data,
        cache:true,
        success: function(data)
        {
          console.log("OK")
          $(location).attr('href','/');
        },
        error:function(){
          console.log('error')
        }
      })
    })
</script>